services:
  netease-api:
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:5000"
    image: willowgod/netease-api:v1.0.2
    labels:  
      createdBy: "Apps"

networks:  
  1panel-network:  
    external: true
